
*.pyc
.DS_Store
data/*.lock
data/*.downloading
data/*.html
data/*.csv
backup_data/*
vis/*.html
www/index copy.html
data/sammamish_wa_width_9582_height_11549_step_20.json
data/tumwater_wa_width_8285_height_9909_step_20.json
/tests/test_data
/over-limit
/files-too-large
*.backup
data/los-angeles--ca_width_47383_height_75179_step_20.csv.gz
data/nashville--tn_width_48499_height_48569_step_20.csv.gz
data/alden--mn_width_1614_height_1623_step_20.json/alden--mn_width_1614_height_1623_step_20.json
cities/us_census_city_selection.log
cities/~$SUB-IP-EST2023-POP.xlsx
cities/SUB-IP-EST2023-POP.csv
*.log
/duplicates
data/anchorage--ak_width_105588_height_83676_step_20.csv.gz
data/austin--tx_width_36189_height_46350_step_20.csv.gz
data/columbus--oh_width_37485_height_38708_step_20.csv.gz
data/denver--co_width_43716_height_33298_step_20.csv.gz
data/huntsville--alabama_width_51072_height_36800_step_20.csv.gz
data/jacksonville--florida_width_70447_height_53484_step_20.csv.gz
data/juneau--ak_width_119727_height_131425_step_20.csv.gz
data/napa--california_width_51060_height_78753_step_20.csv.gz
data/new-orleans--louisiana_width_49650_height_37023_step_20.csv.gz
data/oklahoma-city--ok_width_64089_height_42623_step_20.csv.gz
data/ouray--colorado_width_54504_height_48924_step_20.csv.gz
data/phoenix--az_width_36984_height_69655_step_20.csv.gz
data/san-diego--ca_width_37836_height_64255_step_20.csv.gz
data/san-jose--ca_width_40803_height_38398_step_20.csv.gz
data/wichita--kansas_width_51292_height_38977_step_20.csv.gz
data/cape-may--new-jersey_width_59213_height_59197_step_20.csv.gz
data/cascade--montana_width_106935_height_97946_step_20.csv.gz
data/kansas-city--missouri_width_32909_height_58782_step_20.csv.gz
data/sheridan--montana_width_74401_height_67921_step_20.csv.gz
data/wibaux--montana_width_42768_height_84051_step_20.csv.gz
data/charlotte--north-carolina_width_34124_height_43238_step_20.csv.gz
data/culpeper--virginia_width_53518_height_43362_step_20.csv.gz
data/franklin--north-carolina_width_48662_height_49743_step_20.csv.gz
data/houston--texas_width_86767_height_63547_step_20.json.gz
data/houston--texas_width_86767_height_63547_step_20.csv.gz
data/marinette--wisconsin_width_66906_height_92395_step_20.csv.gz
data/new-york--new-york_width_47213_height_48977_step_20.csv.gz
data/newberry--south-carolina_width_57821_height_51338_step_20.csv.gz
data/orleans--vermont_width_55503_height_51822_step_20.csv.gz
data/rogue-river--oregon_width_180588_height_75760_step_20.csv.gz
data/sheridan--wyoming_width_150531_height_49401_step_20.csv.gz
data/terrell--texas_width_88640_height_97472_step_20.csv.gz
data/walla-walla--washington_width_80512_height_67500_step_20.csv.gz
data/washington--virginia_width_64885_height_37156_step_20.csv.gz
.env
